.button {
  font-family: Tahoma;
  font-size: 15px;
}
.monthA {
  font-family: Tahoma;
  font-size: 15px;
}
.monthB {
  font-family: Tahoma;
  font-size: 15px;
}
.monthC {
  font-family: Tahoma;
  font-size: 15px;
}
.monthD {
  font-family: Tahoma;
  font-size: 15px;
}
